<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>RickDesign</title>
	<link rel="stylesheet" href="style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/angular-1.0.1.min.js"></script>

<script>
$(document).ready(function(){
	$(".raut").hide(); 
    $("#aut").click(function(){
        $(".raut").show();
    });

	$(".rconfig").hide(); 
    $("#config").click(function(){
        $(".rconfig").show();
    });
	
	$(".rant").hide(); 
    $("#ant").click(function(){
        $(".rant").show();
    });
      
});

</script>
</head>
<body>
	Nome do cliente:
		<input type="text" class="nome" ng-model="nome">
	<p>Marca e modelo do modem: 
		<input type="text" ng-model="modem"></p>

	<h1> Qual o problema do cliente? </h1>
		<p> <button id="config" > Sem acesso/Configuração </button> 
		<button id="aut" > Erro de autenticação </button>
		<button id="ant" > Instalação do Antivirus </button></p>
			
	<div class="raut">
		<p>Falei com o Sr(a) {{ nome }}
		</br> Modem: {{ modem }}
		</br> @ Vermelho 
		</br> Feito powercyle 
		</br> Encaminhado para a velox.</p>
	</div>

	<div class="rconfig">
		<p>Falei com o Sr(a) {{ nome }}
		</br> Modem: {{ modem }}
		</br> Luzes OK
		</br> Feito powercyle 
		</br> Icone de rede: Sem acesso a internet 
		</br>Acesso a firmware OK
		</br> Feita configuração
		</br> Normalizado </p>
	</div>

	<div class="rant">
		<p>Falei com o Sr(a) {{ nome }}
		</br> Modem: {{ modem }}
		</br> Luzes OK
		</br> Fiz acesso remoto
		</br> Criado ponto de restauração
		</br> Desinstalado antivirus 
		</br> Resetado senha da conta oi
		</br> Deixei instalando o McAfee </p>
	</div>

</body>
</html>
