* {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 0;
}

input {
    width: 13rem;
}

.nome {
    margin-left: 80px;
    margin-bottom: 5px;
}

h1 {
    text-align: center;	
    font-family: Arial Black;
    padding-bottom: 10px
}

article {
    padding-bottom: 10px;
}
